// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'

.toggles-wrappper
  display flex
  flex-flow row nowrap
  justify-content flex-end
  align-items center
  @media mq-tablet
    flex-flow column wrap
    justify-content start

.lang-selector-wrapper
  display inline-block
  z-index 999
  position relative
  cursor pointer
  flex 1 auto
  @media mq-tablet
    text-align center
    margin-bottom size-normal
    margin-top size-normal

.lang-selector-button
  background none
  border none
  border-radius 3px
  cursor pointer
  transition none
  padding 0 size-small
  text-align center
  display inline-flex !important
  align-items center
  justify-content space-between
  font-weight 600
  min-width size-large
  height size-large
  vertical-align middle
  &:hover
    background-color rgba(0, 0, 0, 0.2)
  @media mq-tablet
    border-top 1px solid var(--border-color-primary)
    border-radius 0
    justify-content start
    padding size-small 0
    height 50px
    width 260px
    margin 0 auto
    color var(--text-color-primary)
    &:hover
      background none

.switch-lang-icon
  color var(--header-text-color)
  opacity 0.8
  height size-normal
  width size-normal
  @media mq-tablet
    color var(--text-color-primary)

.lang-text
  display none
  @media mq-tablet
    display inline
    flex 1 auto
    text-transform capitalize
    font-weight 600

.caret-down-icon
  display none
  @media mq-tablet
    display block
    width size-small
    height size-small
    fill var(--text-color-primary)

.lang-selector
  display none
  ul
    text-align left
    position absolute
    background-color var(--menu-bg-primary)
    overflow-x hidden
    overflow-y scroll
    padding 0
    width 100%
    min-width 110px
    max-height 300px
    border 1px solid var(--border-color-primary)
    box-shadow 0 0 60px rgba(14, 42, 71, 0.25)
    border-radius 3px
    animation popover 0.9s ease-in-out
    top 100%
    right 0px
    li
      list-style none
      a
        height 40px
        line-height 40px
        padding 0 size-normal
        display block
        border none
        &:hover
          background-color var(--menu-bg-hover)
          color var(--text-color-primary)
      [aria-current]
        font-weight 600
    @media mq-tablet
      position relative
      background-color var(--menu-bg-secondary)
      animation none
      border-radius 3px
      border none
      li a
        height 50px
        line-height 50px
        &:hover
          background-color var(--menu-bg-hover)

.show-menu
  display block

.toggle-modal
  height 100vh
  position fixed
  top 0
  left 0
  width 100%
  opacity 0
  z-index 6

.modal-hidden
  display none

.toggle-theme
  height header-height
  padding-top 15px
  padding-bottom 15px
  flex 1 auto
  @media mq-tablet
    display flex
    flex-flow row nowrap
    justify-content space-between
    align-items center
    border-radius 3px
    height 50px
    width 260px
    margin 0 auto
    margin-bottom size-large
    box-sizing border-box

.toggle-theme-input
  position absolute
  opacity 0
  &:checked+.span-wrapper .theme-icon
    background-image url('../../../static/assets/icons/sun.svg')

.span-wrapper
  @media mq-tablet
    display flex
    flex-flow row nowrap
    justify-content space-between
    align-items center
    height 50px
    width 260px

.theme-icon
  background-image url('../../../static/assets/icons/moon.svg')
  opacity 0.8
  background-size 100% 100%
  position absolute
  top size-mini
  left size-small
  height size-normal
  width size-normal
  transform all 0.5s
  @media mq-tablet
    margin 12px size-normal
    height 26px
    width 26px
    flex 0 atuo
    position relative
    top 0
    left 0

.theme-text
  color var(--text-color-primary)
  display none
  @media mq-tablet
    border-radius 0 3px 3px 0
    flex 1 auto
    display inline
    text-transform capitalize
    font-weight 600
    text-align center
    line-height 50px
    cursor pointer
    height 50px
    background-color var(--menu-bg-secondary)
    padding 0
    margin 0

.toggle-theme-label
  display inline-block
  width 40px
  height size-large
  padding 5px size-small
  position relative
  cursor pointer
  border-radius 3px
  &:hover
    background-color rgba(0, 0, 0, 0.2)
  @media mq-tablet
    flex 0 auto
    background-color var(--btn-color-primary)
    height 50px
    width 100%
    margin 0
    padding 0
    &:hover
      background-color var(--btn-color-secondary)

.donate-button
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  height 28px
  background-color var(--btn-color-primary)
  padding size-small
  border-radius 3px
  margin-left size-small
  cursor pointer
  color var(--header-text-color)
  transition background 0.1s ease-out
  @media mq-tablet
    height 50px
    width 260px
    margin 0 auto
  &:hover
    background-color var(--btn-color-secondary)
  &:hover .donate-icon
    transform scale(1.1)

.donate-text
  text-transform uppercase
  font-weight 600
  margin-left 3px

.donate-icon
  width size-normal
  height size-normal
  display inline-block
  line-height size-normal
  color var(--header-text-color)
  transition transform 0.15s cubic-bezier(0.2, 0, 0.13, 2)
  transform scale(0.95)