// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'
mq-medium = 'screen and (max-width: 1080px)'

.main-content
  width 100%
  margin 0 auto
  flex 1 auto
  display flex
  flex-flow column wrap
  align-items flex-start
  padding-top 200px

.container
  width 100%
  margin 0 auto
  padding 0 size-normal
  display flex
  flex-flow row nowrap
  overflow visible

.sidebar
  flex none
  height 0
  align-items flex-start
  display block
  overflow visible
  width 260px
  position sticky
  position -webkit-sticky
  top 200px
  ul
    list-style none
    margin 0
    padding 0
  @media mq-tablet
    display none

.sidebar-inner
  padding 0px 0

.back-nav
  line-height 1
  margin-bottom size-large

.back-button
  font-size 12px
  cursor pointer
  background none
  border none
  text-transform uppercase
  font-weight 600
  height size-large
  line-height size-large
  padding 0 size-mini
  color var(--btn-color-primary)
  display inline-flex
  align-items center
  border-radius 3px
  &:hover
    color var(--btn-color-primary)
    background var(--btn-bg-hover)

.back-button svg
  width 15px
  height 15px
  transform rotate(180deg)
  margin-right size-mini
  polyline, line
    stroke var(--btn-color-primary) !important

.support-nav
  font-size 12px
  text-transform uppercase
  line-height 1
  max-height calc(-220px + 100vh)
  overflow-y scroll

.nav-list h3
  padding 0
  margin 0
  font-size 12px
  font-weight 600
  letter-spacing 1.5
  height size-large
  line-height size-large
  display inline-flex
  align-items center

.nav-list ul
  display block
  margin-left size-small
  padding-bottom size-small
  margin-bottom size-small
  padding-top size-small
  border-left 1px solid var(--border-color-secondary)

.nav-list ul li
  padding-bottom size-small
  width 100%

.nav-list svg, .article-toc svg
  height size-normal
  width size-normal
  padding 4px
  polyline
    stroke var(--text-placeholder-color) !important

.nav-list a
  font-weight 500
  padding 0
  border none
  cursor pointer
  display block
  overflow hidden
  height size-normal
  line-height size-normal
  scroll-snap-align start
  text-overflow ellipsis
  transition color 125ms
  text-align left
  padding-left size-small
  color var(--text-color-secondary)
  transform translateX(-2px)
  &:hover
    color var(--text-color-primary)

.nav-list a[aria-current]
  font-weight 600
  color var(--btn-color-primary)
  border-left 3px solid var(--btn-color-primary)

.content
  flex-grow 1
  max-width 960px
  margin 0 auto
  h2[id], h3[id]
    scroll-margin-top 150px

.support-article
  margin-bottom 120px

.article-title
  margin 0
  line-height size-large

.separator
  width 50px
  height 3px
  background var(--text-color-primary)
  margin size-normal 0

.article-wrapper
  display flex
  flex-flow row nowrap
  justify-content space-between
  align-items flex-start
  margin-top size-large

.article-content
  flex auto
  margin-right size-large
  h1, h2, h3, h4, h5, h6
    cursor pointer
    &:hover > a
      display block

.update-time
  display flex
  flex-flow row nowrap
  align-items center
  width 100%
  margin-top 50px
  padding-top size-small
  border-top 1px solid var(--border-color-secondary)
  span
    text-transform uppercase
    color var(--text-color-secondary)
    font-size 12px
    font-weight 500
    line-height size-normal
    height size-normal
    display block
  svg
    height size-normal
    width size-normal
    padding 2px
    margin-right size-mini
    polyline, line
      stroke var(--text-color-secondary) !important

.article-toc
  flex none
  width 240px
  margin-left size-large
  position sticky
  top 200px
  height 0
  overflow visible
  font-size 12px
  line-height 1
  text-transform uppercase
  h3
    font-size 12px
    line-height 1
    font-weight 600
    margin 0
    letter-spacing 0.1em
    height size-large
    line-height size-large
    display inline-flex
    align-items center
  ul
    list-style none
    padding 0
    margin 0
  @media mq-medium
    display none

.article-toc ul
  display block
  padding-bottom size-small
  padding-top size-small
  padding-left 13px

.article-toc > ul
  margin-left size-small
  border-left 1px solid var(--border-color-secondary)

.article-toc a
  display inline-flex
  font-weight 500
  padding 0
  border none
  cursor pointer
  display block
  height size-large
  line-height size-large
  scroll-snap-align start
  overflow hidden
  text-overflow ellipsis
  transition color 125ms
  color var(--text-color-secondary)
  text-align left
  &:hover
    color var(--text-color-primary)

:global(.anchor)
  padding-right 6px !important
  padding-top 0.75em
  border none
  &:hover
    border none
  svg
    fill var(--text-color-secondary)

.notrans-text
  text-align center
  font-size 16px
  font-weight 600
  width 100%
  color var(--text-color-secondary)
