// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'

.search-result-wrapper
  display none
  width 100%
  color var(--search-text-color)
  max-height 200px
  overflow scroll
  background-color var(--bg-color-tertiary)
  border-radius 5px
  padding size-normal
  position absolute
  z-index 2
  right 0
  top 62px

.show-result
  display block