// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'

.alg-form
  background-color var(--search-box-bg)
  height header-height
  line-height header-height
  border-radius 5px
  display flex
  flex-wrap nowrap
  align-items space-between

.alg-input
  color var(--search-text-color)
  flex 1 auto
  background none
  border none
  height header-height
  line-height header-height
  padding 0 size-normal
  white-space nowrap
  position relative
  z-index auto
  overflow hidden

.reset-button
  width header-height
  height header-height
  padding size-normal
  background none
  border none

.reset-icon
  color var(--text-color-secondary)

.reset-button:disabled .reset-icon, .reset-button[disabled] .reset-icon
  display none

.search-icon
  flex 0 auto
  width 100px
  height header-height
  background-color var(--btn-color-primary)
  cursor pointer
  border none
  padding 15px
  border-radius 5px
  fill var(--header-text-color)
  &:hover
    background-color var(--btn-color-secondary)
  @media mq-tablet
    width header-height
