// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official
// Fonts
font-sans = metropolis, -apple-system, SF UI Text, 'Helvetica Neue', helvetica, Segoe UI, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif
font-serif = Garamond, Georgia, 'Times New Roman', serif
font-mono = Menlo, 'Source Code Pro', Monaco, Consolas, monospace

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

::selection
  background-color rgba(46, 232, 149, 0.5)

button, input[type='reset'], input[type='button'], input[type='submit'], &::-moz-focus-inner, padding 0, margin 0, border 0, input, button, select
  margin 0
  padding 0
  border 0

html, body
  @media screen
    height 100%

body
  background-color var(--body-color)
  color var(--text-color-primary)
  font-size 14px
  font-family font-sans
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  overflow-x hidden
  line-height 1.6
  transition color 0.2s ease-out, background 0.2s ease-out

// Media
img, video
  height auto
  max-width 100%
  display block
  margin auto

embed, iframe, object
  max-width 100%
