body
  --primary-color #2D2CDD
  --body-color #F6F8FA
  --modal-color rgba(14, 42, 71, 0.8)
  // text
  --text-color-primary #24292F
  --text-color-secondary #57606A
  --text-placeholder-color #6E7781
  --text-disabled-color #6E7781
  --text-link-color #2D2CDD
  // button
  --btn-color-primary #4AD295
  --btn-color-secondary #2EE895
  --btn-text-color #F6F8FA
  --btn-border-color #E6ECF1
  // border
  --border-color-primary #E3E9ED
  --border-color-secondary #D1D5D9
  --hr hsla(0, 0%, 0%, 0.2)
  // heaer
  --header-bg-color #2D2CDD
  --header-text-color #F6F8FA
  --header-border-color rgba(255, 255, 255, 0.1)
  --menu-bg-primary #FFFFFF
  --menu-bg-secondary #F6F8FA
  --menu-bg-hover #E6ECF1
  // hero
  --hero-bg-color #2D2CDD
  --search-box-bg #FFFFFF
  --search-text-color #24292F
  // content
  --btn-bg-hover rgba(74, 210, 149, 0.2)
  --logo-card-bg #FFFFFF
  --logo-card-border #E6ECF1
  --logo-card-border-hover #D1D5D9
  // single page
  --search-bg-color #F6F8FA
  --single-search-form #E6ECF1
  --logo-holder-bg #EFF3F6
  --style-list-border #D1D5D9
  --img-bg-hover rgba(14, 42, 71, 0.05)
  // slidebar
  --social-icon-color #24292F
  --social-icon-hover rgba(0, 0, 0, 0.1)
  // footer
  --footer-bg-color #E6ECF1
  --footer-text-color #24292F
  --footer-border-color rgba(0, 0, 0, 0.1)
  --footer-logo-color #24292F
  --footer-number-color #24292F

body.dark
  -webkit-font-smoothing antialiased
  --primary-color #2D2CDD
  --body-color #202124
  --modal-color rgba(0, 0, 0, 0.8)
  // text
  --text-color-primary #E8EAED
  --text-color-secondary #8B949E
  --text-placeholder-color #484F58
  --text-disabled-color #484F58
  --text-link-color #4AD295
  // button
  --btn-color-primary #4AD295
  --btn-color-secondary #2EE895
  --btn-text-color #F6F8FA
  --btn-border-color #E6ECF1
  // border
  --border-color-primary #24292F
  --border-color-secondary #303134
  --hr hsla(0, 0%, 100%, 0.2)
  // heaer
  --header-bg-color #1A1B1E
  --header-text-color #E8EAED
  --header-border-color rgba(255, 255, 255, 0.1)
  --menu-bg-primary #202124
  --menu-bg-secondary #35363A
  --menu-bg-hover #303134
  // hero
  --hero-bg-color #1A1B1E
  --search-box-bg #35363A
  --search-text-color #E8EAED
  // content
  --btn-bg-hover rgba(0, 0, 0, 0.3)
  --logo-card-bg #35363A
  --logo-card-border #484F58
  --logo-card-border-hover #5F6368
  // single page
  --search-bg-color #1A1B1E
  --single-search-form #35363A
  --logo-holder-bg #1A1B1E
  --style-list-border #35363A
  --img-bg-hover rgba(227, 233, 237, 0.05)
  // slidebar
  --social-icon-color #E8EAED
  --social-icon-hover rgba(0, 0, 0, 0.3)
  // footer
  --footer-bg-color #1A1B1E
  --footer-text-color #CFD9E0
  --footer-border-color rgba(255, 255, 255, 0.1)
  --footer-icon-color #CFD9E0
  --footer-number-color #4AD295
