body
  --primary-color #2D2CDD
  --body-color #F5F7F9
  --header-bg-color #2D2CDD
  --brandBg #2D2CDD
  --bodyColor #F5F7F9
  --textColor #1B1B1B
  --headerText #F5F7F9
  --textLink #2D2CDD
  --borderColor #E6ECF1
  --headerBorder rgba(255, 255, 255, 0.1)
  --hr hsla(0, 0%, 0%, 0.2)

body.dark
  -webkit-font-smoothing antialiased
  --primary-color #2D2CDD
  --body-color #242528
  --header-bg-color #1A1B1E
  --brandBg #1A1B1E
  --bodyColor #242528
  --textColor rgba(255, 255, 255, 0.88)
  --headerText rgba(255, 255, 255, 0.88)
  --textLink #2D2CDD
  --borderColor #141516
  --headerBorder rgba(255, 255, 255, 0.1)
  --hr hsla(0, 0%, 100%, 0.2)
