body
  --color-primary #2D2CDD
  --color-secondary #2D2CDD
  --bg-color-primary #F6F8FA
  --bg-color-secondary #E6ECF1
  --bg-color-tertiary #FFFFFF
  --bg-header-color #2D2CDD
  --bg-footer-color #E6ECF1
  --text-color-primary #24292F
  --text-color-secondary #57606A
  --text-placeholder-color #6E7781
  --text-disabled-color #6E7781
  --text-link-color #2D2CDD
  --header-text-color #F6F8FA
  --search-text-color #24292F
  --footer-text-color #24292F
  --btn-color-primary #4AD295
  --btn-color-secondary #2EE895
  --icon-color-primary #24292F
  --icon-color-secondary #57606A
  --border-color-primary #E6ECF1
  --border-color-secondary #D1D5D9
  --header-border-color rgba(255, 255, 255, 0.1)
  --footer-border-color rgba(0, 0, 0, 0.1)
  --footer-logo-color #24292F
  --footer-number-color #24292F
  --modal-color rgba(14, 42, 71, 0.8)
  --hr hsla(0, 0%, 0%, 0.2)

body.dark
  -webkit-font-smoothing antialiased
  --color-primary #2D2CDD
  --color-secondary #2D2CDD
  --bg-color-primary #202124
  --bg-color-secondary #1A1B1E
  --bg-color-tertiary #35363A
  --bg-header-color #1A1B1E
  --bg-footer-color #1A1B1E
  --text-color-primary #C9D1D9
  --text-color-secondary #8B949E
  --text-placeholder-color #484F58
  --text-disabled-color #484F58
  --text-link-color #4AD295
  --header-text-color #F6F8FA
  --search-text-color #F6F8FA
  --footer-text-color #CFD9E0
  --btn-color-primary #4AD295
  --btn-color-secondary #2EE895
  --icon-color-primary #C9D1D9
  --icon-color-secondary #8B949E
  --border-color #30363D
  --border-color-secondary #91a8b8
  --header-border-color rgba(255, 255, 255, 0.1)
  --footer-border-color rgba(255, 255, 255, 0.1)
  --footer-logo-color #CFD9E0
  --footer-number-color #4AD295
  --modal-color rgba(0, 0, 0, 0.8)
  --hr hsla(0, 0%, 100%, 0.2)
