// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official
// Fonts
font-sans = metropolis, -apple-system, SF UI Text, 'Helvetica Neue', helvetica, Segoe UI, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif
font-serif = Garamond, Georgia, 'Times New Roman', serif
font-mono = Menlo, 'Source Code Pro', Monaco, Consolas, monospace
// Layout
max-width = 1080px
content-width = 640px
// Media queries
mq-large = 'screen and (min-width: 1080px)'
mq-mobile = 'screen and (max-width: 768px)'
mq-normal = 'screen and (min-width: 769px)'
mq-tablet = 'screen and (min-width: 480px)'