// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'

.main-content
  width 100%
  margin 0 auto
  flex 1 auto
  display flex
  flex-flow column nowrap
  align-items center
  justify-content center
  padding header-height size-large

.main-content section
  width 100%

.inner
  max-width 1280px
  margin 0 auto
  text-align center
  margin-bottom header-height
  display flex
  flex-flow column nowrap
  align-items center
  justify-content center

.inner h2
  display inline-block
  font-size 20px
  font-weight 600
  text-transform uppercase
  margin-bottom size-small
  letter-spacing 3px

.separator
  display block
  background-color var(--border-color-secondary)
  width header-height
  height 2px
  margin-bottom size-large

.inner p
  text-align center

.statistics-wrapper
  margin-top size-large
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  width 100%
  @media mq-tablet
    flex-wrap wrap

.statistics
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 20%
  padding 0 size-large
  margin-bottom header-height
  @media mq-tablet
    width 50%

.statistics svg
  width header-height
  height header-height
  padding size-small
  margin-bottom size-normal
  path, polyline, line, polygon
    stroke var(--border-color-secondary) !important
    stroke-width 24 !important

.number
  font-weight 600
  font-size 64px
  line-height 1
  color var(--about-number-color)

.num-title
  text-transform uppercase
  font-size 12px
  font-weight 600
  color var(--text-color-secondary)

.more-statistics
  color var(--text-color-secondary)
  font-size 14px
  text-transform uppercase
  font-weight 600

.more-statistics a
  flex 0 auto
  text-transform uppercase
  font-weight 600
  letter-spacing 1px
  height size-large
  line-height size-large
  border none
  padding 0 size-mini
  color var(--btn-color-primary)
  display inline-flex
  align-items center
  border-radius 3px
  &:hover
    border none
    color var(--btn-color-primary)
    background var(--btn-bg-hover)

.more-statistics svg
  width size-normal
  height size-normal
  margin-left size-mini
  polyline, line
    stroke var(--btn-color-primary) !important

.contact-button
  padding 0
  background-color var(--btn-color-primary)
  color var(--btn-text-color)
  border none
  border-radius 3px
  cursor pointer
  font-size 18px
  line-height 1
  text-transform uppercase
  font-weight 600
  width 200px
  height 50px
  display flex
  flex-flow row nowrap
  align-items center
  justify-content space-between
  svg
    height 50px
    width 50px
    padding 12px
    flex none
    border-radius 3px 0 0 3px
    border-left 1px solid rgba(255, 255, 255, 0.35)
    background-color var(--btn-color-secondary)
    path
      stroke var(--btn-text-color) !important
    circle
      fill var(--btn-text-color)
  span
    flex 1 auto
    text-align center

.contact-button
  &:hover
    border none
    color var(--btn-text-color)
    background-color var(--btn-color-secondary)

.contact-button
  @media mq-tablet
    margin-left size-normal