// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'

.main-content
  width 100%
  margin 0 auto
  flex 1 auto
  display flex
  flex-flow column nowrap
  align-items flex-start
  padding-top 110px

.logos-wrapper
  width 100%
  margin 40px auto 100px auto
  padding 0 size-normal
  display flex
  flex-flow column nowrap

.adsense-container
  width 100%

.packs-container
  width 100%
  overflow hidden
  display grid
  margin-top size-large
  justify-content space-between
  align-items stretch
  grid-template-columns repeat(auto-fill, minmax(260px, 1fr))
  gap size-normal

.card-link
  border-radius size-mini
  border 1px solid var(--logo-card-border)
  position relative
  overflow hidden
  background-color var(--logo-card-bg)
  display flex
  flex-flow row wrap
  font-weight 500
  color var(--text-color-primary)
  &:hover
    border-color var(--logo-card-border-hover)
    color var(--text-color-primary)

.item-image-wrapper
  width 100%
  min-height 260px
  padding size-small
  display grid
  justify-content space-between
  grid-template-columns repeat(3, minmax(80px, 1fr))
  grid-template-rows repeat(3, minmax(80px, 1fr))

.item-image
  margin 10%

.card-footer
  width 100%
  height 80px
  display flex
  flex-flow row nowrap
  justify-content space-between
  align-content center
  align-items center
  padding 0 size-small
  border-top 1px solid var(--logo-card-border)

.footer-text
  display flex
  flex-direction column
  justify-content center
  align-content flex-start
  align-items flex-start

.pack-name
  margin size-mini 0 0 0
  padding 0
  height size-normal
  line-height size-normal
  font-size 12px
  text-transform uppercase
  font-weight 500
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.season-badge
  flex 0 auto
  margin 0
  padding 0
  height size-normal
  line-height size-normal
  text-transform uppercase
  font-size 12px
  font-weight 700
  padding 0 3px
  border-radius 3px
  background-color var(--btn-color-primary)
  color var(--header-text-color)

.load-ref-container
  padding-top header-height
  width 100%
  display flex
  flex-flow row nowrap
  justify-content space-between
  align-content center
  align-items center

.load-ref-container span
  font-size 12px
  font-weight 600
  color var(--text-color-secondary)
  text-transform uppercase
  letter-spacing 0.3rem

.load-ref-container span&:nth-child(2)
  margin-left size-small
  margin-right size-small
  flex none

.load-ref-container span&:first-child, .load-ref-container span&:last-child
  width 100px
  height 1px
  background-color var(--border-color-primary)
  flex auto

.nothing-container
  padding-top header-height
  width 100%

.nothing-text
  font-size 14px
  font-weight 600
  text-align center
  color var(--text-color-secondary)