// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'

.main-content
  width 100%
  margin 0 auto
  flex 1 auto
  display flex
  flex-flow column nowrap
  align-items center
  justify-content flex-start
  padding-top 120px

.content-wrapper
  width 100%
  margin 0 auto
  padding 0 size-large
  display flex
  flex-flow column nowrap

.data-table
  margin-bottom header-height
  padding size-large
  border-radius 5px
  background-color var(--logo-card-bg)

.data-table > header
  background-color var(--logo-card-bg) !important
  color var(--text-color-primary) !important
  padding 0

.data-table > div
  border-radius 0

.filter-wrapper
  display flex
  flex-grow 1
  flex-shrink 1
  flex-basis auto
  box-sizing border-box
  align-items center
  width 100%
  justify-content flex-end
  flex-wrap wrap
  min-height header-height

.filter-wrapper input
  background none
  height size-large
  width 200px
  border-radius 3px 0 0 3px
  border 1px solid var(--border-color-secondary)
  padding 0 size-small
  font-size 12px
  color var(--text-color-primary)
  text-transform capitalize

.filter-wrapper button
  border-radius 0 3px 3px 0
  height size-large
  width size-large
  text-align center
  display flex
  align-items center
  justify-content center
  background-color var(--btn-color-primary)
  border none
  color white

:global(.rdt_TableBody), :global(.rdt_TableHead), :global(.rdt_TableRow), :global(.rdt_TableHeadRow), :global(.rdt_Table), :global(.rdt_Table > div)
  background-color var(--logo-card-bg) !important
  color var(--text-color-primary) !important

:global(.rdt_Pagination)
  background-color var(--logo-card-bg) !important
  color var(--text-color-secondary) !important

:global(.rdt_TableRow)
  &:hover
    background-color rgba(0, 0, 0, 0.1) !important
    border-color var(--border-color-secondary) !important
    outline-color var(--border-color-secondary) !important

:global(.rdt_Pagination)
  svg
    fill var(--text-color-primary)
  button:disabled svg
    fill var(--text-disabled-color)

:global(.rdt_TableCell[data-column-id = '1'])
  font-family 'JetBrains Mono', 'Fira Code', Hack, Menlo, 'Source Code Pro', Monaco, Consolas, 'Courier New', monospace
  text-transform uppercase
