// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'

.main-content
  width 100%
  margin 0 auto
  flex 1 auto
  display flex
  flex-flow column nowrap
  align-items center
  justify-content center
  padding header-height size-large

.main-content section
  width 100%

.inner
  max-width 1280px
  margin 0 auto
  text-align center
  margin-bottom header-height
  display flex
  flex-flow column nowrap
  align-items center
  justify-content center

.inner h2
  display inline-block
  font-size 20px
  font-weight 600
  text-transform uppercase
  margin-bottom size-small
  letter-spacing 3px

.separator
  display block
  background-color var(--border-color-secondary)
  width header-height
  height 2px
  margin-bottom size-large

.link-wrapper
  margin-top size-large
  display flex
  flex-flow row wrap
  justify-content space-between
  align-items center
  width 100%