// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'

.footer-wrapper
  z-index 99999
  flex 0 auto
  padding 40px
  width 100%
  margin 0
  background-color var(--footer-bg-color)
  color var(--footer-text-color)
  display flex
  flex-flow column wrap
  justify-content center
  align-items flex-start
  section
    max-width 1400px
    margin 0 auto
    width 100%

.footer-logo
  height 40px
  margin-bottom size-large !important
  a
    border none
    &:hover
      border none
  @media mq-tablet
    text-align center

.logo-icon
  fill var(--footer-icon-color)
  height 40px

.footer-content
  display flex
  flex-flow row nowrap
  align-items flex-start
  justify-content flex-start
  padding-bottom size-normal
  @media mq-tablet
    flex-flow column wrap
    align-items center

.social-icons
  display flex
  flex 0 auto
  flex-flow row nowrap
  align-items flex-start
  justify-content flex-start
  width 200px
  margin-right size-large
  @media mq-tablet
    margin 0
    align-items center
    justify-content center

.social-link
  display inline-block
  width 40px
  height 40px
  padding 10px
  border none
  transform none
  border-radius 3px
  &:hover
    border none
    background-color var(--social-icon-hover)
  svg
    height size-normal
    width size-normal
    margin-right size-small
    fill var(--footer-icon-color)

.footer-menu
  flex 0 auto
  @media mq-tablet
    width 100%
    margin-top size-large

.menu-list
  margin-bottom size-small
  padding 0
  margin 0
  display flex
  flex-flow row nowrap
  align-items flex-start
  justify-content flex-start
  @media mq-tablet
    justify-content center

.menu-list-item
  list-style none
  display inline-block
  margin-right size-small
  &:last-child
    margin-right 0

.menu-link
  text-transform uppercase
  border none
  font-weight 600
  height 40px
  line-height 40px
  padding 10px
  border none
  transform none
  border-radius 3px
  color var(--footer-text-color)
  white-space nowrap
  &:hover
    color var(--footer-text-color)
    border none
    background-color var(--social-icon-hover)

.copyright
  padding-top size-normal
  border-top 1px solid var(--footer-border-color)
  font-size 12px
  display flex
  flex-flow column nowrap
  justify-content center
  text-transform uppercase
  @media mq-tablet
    flex-direction column
    justify-content center
    align-items center
    text-align center

:global(.ReactModal__Body--open) .footer-wrapper
  z-index -1