// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'

.header-wrapper
  position fixed
  top 0
  left 0
  width 100%
  z-index 15
  background-color var(--bg-header-color)
  border-bottom 1px solid var(--header-border-color)
  height header-height
  padding 0 size-large
  display flex
  flex-flow row nowrap
  justify-content flex-start
  align-items center
  a
    border none
    &:hover
      border none
  @media mq-tablet
    padding 0

.logo-wrapper
  flex 0 auto
  height header-height
  line-height header-height
  @media mq-tablet
    margin 0 auto
    order 1

.logo-link
  display inline-block
  height header-height

.logo-icon
  height header-height
  padding-top size-small
  padding-bottom size-small
  fill var(--header-text-color)

.tablet-menu-taggle
  display none
  @media mq-tablet
    display block

.donate-button-tablet
  flex 1
  display none
  @media mq-tablet
    order 2
    width header-height
    height header-height
    line-height header-height

.donate-icon
  display none
  @media mq-tablet
    order 2
    display inline-block
    background-color var(--btn-color-primary)
    width header-height
    height header-height
    line-height header-height
    text-align center
    padding 16px
    color var(--header-text-color)
    cursor pointer
    &:hover
      background-color var(--btn-color-secondary)