// Size
header-height = 60px
size-normal = 20px
size-large = 30px
size-small = 10px
size-mini = 6px
// Media queries
mq-tablet = 'screen and (max-width: 992px)'

.detail-sidebar
  width 460px
  align-self stretch
  position relative
  flex 0 auto
  // z-index 2
  border-left 1px solid var(--border-color-primary)
  display block
  padding-top size-normal
  @media mq-tablet
    width 100%

.google-ads
  padding size-large
  width 100%
  // height 160px
  border-bottom 1px solid var(--border-color-primary)
  @media mq-tablet
    display none

.detail-header
  padding size-normal size-large size-small
  display flex
  flex-flow column wrap
  align-content flex-start
  justify-content center
  align-items flex-start

.detail-license
  padding size-small size-large
  display flex
  flex-flow column wrap
  border-top 1px solid var(--border-color-primary)

.season-badge
  font-size 14px
  text-transform uppercase
  font-weight 600
  line-height 1
  padding size-mini
  background-color var(--btn-color-primary)
  color var(--btn-text-color)
  border-radius 3px
  width auto
  margin-bottom size-small
  margin-top size-normal

.pack-title
  width 100%
  font-size 16px
  text-transform capitalize
  padding 0
  margin 0

.file-type
  display block
  h6
    display flex
    flex-flow row nowrap
    align-items center
    font-size 12px
    line-height 12px
    font-weight 600
    a
      margin-left size-small

.vector-icon
  width size-normal
  height size-normal
  margin-right size-mini
  path, rect
    stroke var(--text-color-primary)

.use-terms
  display block
  p
    text-align left
    font-size 12px
    margin-bottom size-small

.term-title, .info-title
  font-weight 600
  margin-bottom size-mini

.detail-info
  padding size-small size-large
  border-top 1px solid var(--border-color-primary)

.info-table
  margin-bottom size-small
  line-height 1.5

.info-table tr
  border none

.info-links
  display flex
  flex-flow row nowrap
  align-items center

.info-links a
  display inline-block
  width 40px
  height 40px
  padding 10px
  border none
  transform none
  border-radius 3px
  &:hover
    background-color var(--social-icon-hover)

.info-links svg
  width size-normal
  height size-normal
  fill var(--social-icon-color)

.err-notes
  display block
  padding size-large
  border-top 1px solid var(--border-color-primary)
  h6
    display flex
    flex-flow row nowrap
    align-items center
    font-size 12px
    line-height 12px
    font-weight 600
    margin 0
    a
      margin-left size-small

.bug-icon
  width size-normal
  height size-normal
  margin-right size-mini
  path, line
    stroke var(--text-color-primary) !important